<% content_for :title do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :marca do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <%= opcion_menu "Buscar", sal7711_gen.buscar_path,
        desplegable: true %>
      <%= opcion_menu "Nuevo Artículo", sal7711_gen.new_articulo_path,
        desplegable: true %>
    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <%= opcion_menu "Documentacion", File.join(
        Rails.configuration.relative_url_root, '/acercade') %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave y tema", main_app.editar_registro_usuario_path,
          desplegable: true %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Usuarios", main_app.usuarios_path,
            desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Tablas Básicas", sip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", File.join(
        Rails.configuration.relative_url_root, '/acercade') %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <p><span class='derechos'>Dominio Público de acuerdo a Legislación Colombiana<br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2020. 
  </span></p>
<% end %>

<%= render template: "layouts/sal7711_gen/application" %>
